.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "List", groups_path
      %li= link_to "New", new_group_path
  .content
    %h2.title Listing groups
    .inner
      %table.table
        %tr
          %th.first Name
          %th.last &nbsp;
        - @groups.each do |group|
          %tr{:class => cycle("odd", "even")}
            %td= group.name
            %td.last
              = link_to "Show", group
              |
              = link_to "Edit", edit_group_path(group)
              |
              = link_to "Destroy", group, :confirm => "Are you sure?", :method => :delete
      .actions-bar.wat-cf
        .actions

