<h1>Listing results</h1>

<table>
  <tr>
    <th>D id</th>
    <th>Section</th>
    <th>Item</th>
    <th>Class</th>
    <th>Term</th>
    <th>Period</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.D_ID %></td>
    <td><%= result.Section %></td>
    <td><%= result.Item %></td>
    <td><%= result.Class %></td>
    <td><%= result.Term %></td>
    <td><%= result.Period %></td>
    <td><%= result.Value %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_result_path %>
