<p id="notice"><%= notice %></p>

<p>
  <b>D id:</b>
  <%= @result.D_ID %>
</p>

<p>
  <b>Section:</b>
  <%= @result.Section %>
</p>

<p>
  <b>Item:</b>
  <%= @result.Item %>
</p>

<p>
  <b>Class:</b>
  <%= @result.Class %>
</p>

<p>
  <b>Term:</b>
  <%= @result.Term %>
</p>

<p>
  <b>Period:</b>
  <%= @result.Period %>
</p>

<p>
  <b>Value:</b>
  <%= @result.Value %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
