-if @chart.errors.any?
  #error_explanation
    %h2= "#{pluralize(@chart.errors.count, "error")} prohibited this chart from being saved:"
    %ul
      - @chart.errors.full_messages.each do |msg|
        %li= msg
.group
  = check_box_tag :groups_select_all
  = label_tag :groups_select_all, "Select All"
  %br/
  %br/
  #charts_groups
    - Group.all.each do |group|
      = check_box_tag 'chart[group_ids][]', group.id, @chart.groups.include?(group), :id => "chart_group_#{group.id}", :class => 'charts_groups'
      = label_tag "chart_group_#{group.id}", group.name
      %br/

.group
  = f.label :width, :class => "label"
  = f.text_field :width, :'default-width' => Chart::DEFAULT_WIDTH[@chart.name]

.group
  = f.label :height, :class => "label"
  = f.text_field :height, :'default-height' => Chart::DEFAULT_HEIGHT[@chart.name]

- unless @chart.new_record?
  = link_to "Use", "#", :id => 'reset-width-height'
  default width, height

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  = link_to raw("#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}"), charts_path, :class => "button"

