!!! 5

%html
  %head
    %title=raw @site_name
    = stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/warehouse/style", "screen"
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/redmond/jquery-ui.css'
    = stylesheet_link_tag 'jquery.ui.potato.menu'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js' 
    = javascript_include_tag 'jquery.ui.potato.menu'
    = javascript_include_tag 'rails', 'highcharts', 'application'
    = csrf_meta_tag

    - if @chart_names.present?
      - @chart_names.each do |chart|
        %script{:type => 'text/javascript', :src => "chart_javascripts/#{chart}.js"}
  %body
    #container
      #header
        %h1=raw link_to @site_name, "/"
        #main-navigation
          %ul#main-nav-menu.wat-cf
            - if controller.controller_name == "results"
              %li.active= link_to "Results", results_path
              %li= link_to "Account details", account_details_path
              %li
                = link_to "Administrator", "#"
                %ul
                  %li.no-radius= link_to "Group", groups_path
                  %li.no-radius= link_to "Users", users_path
                  %li.no-radius= link_to "Charts", charts_path
                  %li.no-radius= link_to "General", admins_path
            - elsif controller.controller_name == "account_details"
              %li= link_to "Results", results_path
              %li.active= link_to "Account details", account_details_path
              %li
                = link_to "Administrator", "#"
                %ul
                  %li.no-radius= link_to "Group", groups_path
                  %li.no-radius= link_to "Users", users_path
                  %li.no-radius= link_to "Charts", charts_path
                  %li.no-radius= link_to "General", admins_path
            - elsif ["groups", "users", "charts", "admins"].include? controller.controller_name
              %li= link_to "Results", results_path
              %li= link_to "Account details", account_details_path
              %li
                = link_to "Administrator", admins_path
                %ul
                  - if controller.controller_name == "groups"
                    %li.no-radius.active= link_to "Group", groups_path
                    %li.no-radius= link_to "Users", users_path
                    %li.no-radius= link_to "Charts", charts_path
                    %li.no-radius= link_to "General", admins_path
                  - elsif controller.controller_name == "users"
                    %li.no-radius= link_to "Group", groups_path
                    %li.no-radius.active= link_to "Users", users_path
                    %li.no-radius= link_to "Charts", charts_path
                    %li.no-radius= link_to "General", admins_path
                  - elsif controller.controller_name == "charts"
                    %li.no-radius= link_to "Group", groups_path
                    %li.no-radius= link_to "Users", users_path
                    %li.no-radius.active= link_to "Charts", charts_path
                    %li.no-radius= link_to "General", admins_path
                  - elsif controller.controller_name == "admins"
                    %li.no-radius= link_to "Group", groups_path
                    %li.no-radius= link_to "Users", users_path
                    %li.no-radius= link_to "Charts", charts_path
                    %li.no-radius.active= link_to "General", admins_path

        #user-navigation
          %ul.wat-cf
            - if signed_in? 
              %li 
                #loginInfo= "Logged in as #{current_user.email},"
              %li
                %a{ :href => "/logout", :class => "logout" } Logout
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            .message{:class => type.to_s}
              <p>#{ message }</p>
        #main
          - if signed_in?
            = yield
          - else
            %div{ :style => "text-align: center; padding: 10px;" }
              = "You must login to see this page."
              %br
              = "Make sure you register with an administrator first."
              %br
              = render :partial => "layouts/login_options"
            
          #footer
            .block
              %p=raw @footer_text

