!!! 5

%html
  %head
    %title=raw @site_name
    = stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/warehouse/style", "screen", "style"
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/redmond/jquery-ui.css'
    =# stylesheet_link_tag 'jquery-ui-1.8.9.custom'
    = stylesheet_link_tag 'jquery.ui.potato.menu'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js' 
    =# javascript_include_tag 'jquery-1.4.2', 'jquery-ui-1.8.9.custom'
    = javascript_include_tag 'jquery.ui.potato.menu'
    = javascript_include_tag 'rails', 'highcharts', 'application'
    = csrf_meta_tag

    - if @chart_names.present?
      - @chart_names.each do |chart|
        %script{:type => 'text/javascript', :src => "/chart_javascripts/#{chart}.js?product=#{@product}"}
  %body
    #header-wrapper
      #header
        #logo
          =raw  link_to image_tag("imipulse.png", :alt => 'The IMI pulse', :width => 110, :height => 35)

        #main-navigation
          %ul#main-nav-menu.wat-cf
            =raw top_tab(results_path, "Results")
            =raw top_tab(account_details_path, "Account details")
            =raw top_tab(nps_summary_path, "NPS")
            =raw top_tab(admins_path, "Administrator")
        #user-navigation
          %ul.wat-cf
            - if signed_in? 
              %li 
                #loginInfo= "Logged in as #{current_user.email},"
              %li
                %a{ :href => "/logout", :class => "logout" } Logout
    #container
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            .message{:class => type.to_s}
              <p>#{ message }</p>
              
        - if signed_in?
          #main
            = yield
        - else
          #main-login
            .form-frame
              %div{ :style => "text-align: center; padding: 10px; font-family: sans-serif; font-size: 1em;" }
              = render :partial => "layouts/login_options"
            
    #footer
      #footer-wrapper
        %p=raw @footer_text
        #footer-image   
          =raw  link_to image_tag("pulse.png", :alt => 'pulse')
      

