!!! 5

%html
  %head
    %title
      Pulse
    = stylesheet_link_tag 'screen', :cache => true
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'rails', 'highcharts'
    = csrf_meta_tag
    - if @chart_names.present?
      - @chart_names.each do |chart|
        %script{:type => 'text/javascript', :src => "charts/#{chart}.js"}

  %body
    #flash
      - if msg = flash[:notice]
        #notice= msg
    - if signed_in?
      #user
        #loginInfo= "Logged in as #{current_user.email}"
        #logout= link_to('Logout', logout_path)
      #main
        = yield
    - else
      %div
        = "You must #{link_to('Login', login_path)} to see this page.".html_safe
        %br
        = "Make sure you register with an administrator first."
