!!! 5

%html
  %head
    %title Pulse
    = stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/warehouse/style", "screen", :cache => true
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'rails', 'highcharts', 'application'
    = csrf_meta_tag

    - if @chart_names.present?
      - @chart_names.each do |chart|
        %script{:type => 'text/javascript', :src => "chart_javascripts/#{chart}.js"}
  %body
    #container
      #header
        %h1 <a href="/">Pulse</a>
        #main-navigation
          %ul.wat-cf
            - if controller.controller_name == "results"
              %li.active= link_to "Results", results_path
              %li= link_to "Charts", charts_path
              %li= link_to "Groups", groups_path
              %li= link_to "Users", users_path
              %li= link_to "Account details", account_details_path
            - elsif controller.controller_name == "charts"
              %li= link_to "Results", results_path
              %li.active= link_to "Charts", charts_path
              %li= link_to "Groups", groups_path
              %li= link_to "Users", users_path
              %li= link_to "Account details", account_details_path
            - elsif controller.controller_name == "groups"
              %li= link_to "Results", results_path
              %li= link_to "Charts", charts_path
              %li.active= link_to "Groups", groups_path
              %li= link_to "Users", users_path
              %li= link_to "Account details", account_details_path
            - elsif controller.controller_name == "users"
              %li= link_to "Results", results_path
              %li= link_to "Charts", charts_path
              %li= link_to "Groups", groups_path
              %li.active= link_to "Users", users_path
              %li= link_to "Account details", account_details_path
            - elsif controller.controller_name == "account_details"
              %li= link_to "Results", results_path
              %li= link_to "Charts", charts_path
              %li= link_to "Groups", groups_path
              %li= link_to "Users", users_path
              %li.active= link_to "Account details", account_details_path

        #user-navigation
          %ul.wat-cf
            - if signed_in? 
              %li 
                #loginInfo= "Logged in as #{current_user.email},"
              %li
                %a{ :href => "/logout", :class => "logout" } Logout
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            .message{:class => type.to_s}
              <p>#{ message }</p>
        #main
          - if signed_in?
            = yield
          - else
            %div{ :style => "text-align: center; padding: 10px;" }
              = "You must #{link_to('Login', login_path)} to see this page.".html_safe
              %br
              = "Make sure you register with an administrator first."
            
          #footer
            .block
              <p>Copyright &copy; #{ Time.now.year } Pulse.</p>

