.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "Summary", nps_summary_path
      %li.first.active= link_to "Detail", nps_detail_path 
  .content
    - unless @records.blank?
      %table
        %caption NPS Result
        %thead
          %th NPS_ID
          %th Week_ID
          %th Account Name
          %th Contact Name
          %th Score
          %th Comments
          %th Submit Date
        %tbody
          - for record in @records do
            %tr
              %td= record.nps_id
              %td= record.week_id.to_date
              %td= record.accountname
              %td= record.contactname
              %td= record.score
              %td= record.comments
              %td= record.submitdate
