.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Index", results_path
  .content
    #chart-area
      = chart_placeholder @chart.name
    
    #comment-area
      - for comment in @comments 
        .comment-item
          .comment-author
            %b= comment.contactname
            says:
            %br/
            - date = Date.parse(comment.weekid)
            .date-time= "#{date.month}/#{date.year}"
          .comment-box
            = comment.comment
      .comment-item
        = will_paginate @comments
